* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ef5558;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

button {
    border: none;
    outline: none;
}

.display--flex {
    display: flex;
}

.float--button {
    background-color: #3b4859;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
}