.container {
    height: auto;
    margin: 5% auto;
    width: 90%;
}

.pizza__container {
    display: flex;
}

.pizza__details {
    background-color: #fafafa;
    height: 12vh;
    margin-bottom: .3vh;
    width: 90%;
}

.pizza__button {
    background-color: rgba(19, 206, 102, 23);
    height: 12vh;
    position: relative;
    width: 10%;
}

.pizza__button>button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pizza__details__name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.pizza__details__ingredients {
    overflow-y: auto;
    height: 7vh;
    padding-left: 5vw;
    width: 85%;
}

.pizza__details__ingredients>ul {
    list-style-type: none;
}

.pizza__details__price {
    font-size: 28px;
    text-align: center;
    width: 15%;
}

.pizza__details__price::before {
    content: '$';
}

.float--button {
    background-color: #3b4859;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 420px) {
    .pizza__details__ingredients {
        width: 70%;
    }
    .pizza__details__price {
        width: 30%;
    }
}