<div class="container">
    <div *ngIf="listOrders.length > 0">
        <div class="order">
            <h5 class="order__title">Order summary</h5>
            <div class="order__container">
                <div class="order__pizzas">
                    <ul>
                        <li *ngFor="let order of listOrders"> {{ order.name }}</li>
                    </ul>
                </div>
                <div class="order__total-price">
                    <span>{{ totalPrice }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pizza__container" *ngFor="let pizza of pizzas$ | async">
        <div class="pizza__details">
            <div class="pizza__details__name">{{ pizza.name }}</div>
            <div class="display--flex">
                <div class="pizza__details__ingredients">
                    <ul>
                        <li *ngFor="let ingredient of pizza.ingredients"> {{ ingredient }}</li>
                    </ul>
                </div>
                <div class="pizza__details__price">{{ pizza.price }}</div>
            </div>
        </div>
        <div class="pizza__button">
            <button class="float--button" (click)="order(pizza)">Add</button>
        </div>
    </div>
</div>